<div class="row">

  <div class="span6 offset3">
    <div class="well  form-horizontal">
  <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>

    <%= text_field_tag :name, params[:name], :class => "input-medium", :placeholder => "username" %>

    <%= password_field_tag :password, params[:password], :class => "input-medium", :placeholder => "password" %>
    <%= submit_tag "Log In", :class => "btn btn-info" %>


  <% end %>
</div>
</div>
</div>
