<%- model_class = @event_detail.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @event_detail.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event_detail.description %></dd>
  <dt><strong>tweets</strong></dt>
  
  
  <dd>
    <table>
    
    <% tweets =  Tweet.find_all_by_screen_name(User.find(Character.find(@event_detail.character_id).user_id).twitter, :conditions =>["date(created_at) BETWEEN ? AND ? ", @event_detail.from ,@event_detail.to]) %>
 <% tweets.each do |t| %>
      <tr><td>
    <blockquote>
      <%= t.content %>
      <div class="from">&mdash; @<%= t.screen_name %></div>
    </blockquote>
          </td></tr>
    <% end %>
      </table>
  </dd>
  
   
  
  
  
  <dt><strong><%= model_class.human_attribute_name(:from) %>:</strong></dt>
  <dd><%= @event_detail.from %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to) %>:</strong></dt>
  <dd><%= @event_detail.to %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              request.referer, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_detail_path(@event_detail), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_detail_path(@event_detail),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
 
</div>

