<%= simple_form_for @character, :html => { :class => 'form-horizontal' } do |f| %>
<div class="field">
    <%= f.input :name %>
    <%= f.input :address %>
  <div class="offset2">
   
    <% if @character.event_details.any? %>
    <h4>Event Details</h4>
    <% end  %>
      <%= f.fields_for :event_details do |builder| %>
      <%= render 'event_fields', f: builder %>
    <% end %>
    </div>
    
  
</div>  

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                characters_path, :class => 'btn' %>
  </div>
<% end %>

