
<%- model_class = Character.new.class -%>


<%= gmaps(
  "map_options" => {"auto_adjust" => "true", "bounds" => '[{"lat": 0, "lng": 0 }, {"lat": 80 , "lng": 100 }]'},
  "markers" => {"data" => @json,
    "options" => {"do_clustering" => true}},
  "polylines" => {"data" => @p}
) %>  

<br/>

<br/>


<ul class="nav nav-tabs">
  <li><a href="#calendar" data-toggle="tab">Calendar</a></li>
  <li><a href="#tweets" data-toggle="tab">Latest Tweets</a></li>
  <li><a href="#pictures" data-toggle="tab">Latest Pictures</a></li>
  <li><a href="#videos" data-toggle="tab">Latest Videos</a></li>
  <li><a href="#blogs" data-toggle="tab">Latest Blogs</a></li>

</ul>

<div class="tab-content">
  <div class="tab-pane active" id="calendar">
    <div class="row">
      <div class="span4">
        <a href='/calendar' class="thumbnail" rel="popover"  data-content="Click to see all conferences and events in calendar view. If you interested in some of them you van" data-original-title="Calendar of events">
          <img src="assets/calendar.png" alt="calendar"/>
        </a>
      </div>

    </div>

  </div>
  <div class="tab-pane" id="tweets">
    <table class="table table-striped">

      <%  tweets = Tweet.find(:all, :group => 'event_detail_id', :limit => 5, :order => 'created_at desc') %>

      <% tweets.each do |t| %>

        <tr><td>
            <blockquote>
              <%= t.content %>
              <div class="from">&mdash; @<%= t.screen_name %></div>
            </blockquote>
          </td>
          <td>
            <%= link_to "more..", event_detail_path(EventDetail.find(t.event_detail_id).character_id) %>
          </td></tr>

      <% end %>
    </table>
  </div>
  <div class="tab-pane" id="pictures">
    some pictures
  </div>

  <div class="tab-pane" id="videos">
    some videos
  </div>

  <div class="tab-pane" id="blogs">
    some blogs
  </div>
</div>

<br/>

<br/>



<script type='text/javascript'>
  $(document).ready(function () {
    if ($("[rel=tooltip]").length) {
      $("[rel=tooltip]").tooltip({
        title: 'asdf'
      });
    }
  });
  
  
</script>







<table class="table table-striped">
  <thead>
    <tr>
      <td colspan="4">
        <%= form_tag characters_path, :method => 'get', :class => 'navbar-search' do %>   
          <%= text_field_tag :search, params[:search], :class => 'span5', :placeholder => 'Type To Search Places' %>
        <% end %></td>

    </tr>
    <tr>

      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th>Author</th>
      <th></th>


    </tr>
  </thead>
  <tbody>
    <% counter = 0%>    
    <% @characters.each do |character| %>


      <tr>

        <td ><%= character.name %></td>
        <td><%= character.address %></td>

        <td><%= User.find(character.user_id).name %></td>

        <td>
          <%= link_to t('.show details', :default => t("helpers.links.show")),
            character_path(character), :class => 'btn btn-mini btn-info'%>


          <%= content_tag :a, :href => "#myModal#{counter}",  :data => {:toggle => "modal"} do -%>
            See more
          <%end%>

          <%= content_tag :div, :class => "modal hide", :id => "myModal#{counter}" do -%>
            <%= content_tag :div, :class => "modal-header" do -%>
              <%= content_tag :button, :class => "close", :type => "button", :data => {:dismiss => "modal"} do -%>
                ×
              <% end  %>
              <%= content_tag :h3 do -%>
                <h4>Event: <%= @characters[counter].name %> </h4><span class="navbar brand">Location: <%= @characters[counter].address %></span>       


              <% end -%>
            <% end -%>

            <%= content_tag :div, :class => "modal-body" do -%>
              <%= content_tag :p do -%>



                <!-- nado sdes vse HTML TAGS zamenit s content_tag potomu 4to u vse odin i tot je href i id of div !-->

                <% if @characters[counter].event_details.any? %>

                  <% for e in @characters[counter].event_details %>
                    <h5><%= e.title %></h5>
                    <ul class="nav nav-tabs">
                      <li>

                        <%= content_tag :a, :href => "#modal-description#{counter}",  :data => {:toggle => "tab"} do -%>
                          Description
                        <%end%>
                      </li>
                      <li>
                        <%= content_tag :a, :href => "#modal-tweets#{counter}",  :data => {:toggle => "tab"} do -%>
                          Event Tweets
                        <%end%>

                      </li>
                      <li>
                        <%= content_tag :a, :href => "#modal-pictures#{counter}",  :data => {:toggle => "tab"} do -%>
                          Event Pictures
                        <%end%>

                      </li>
                      <li>
                        <%= content_tag :a, :href => "#modal-videos#{counter}",  :data => {:toggle => "tab"} do -%>
                          Event Videos
                        <%end%>

                      </li>
                      <li>
                        <%= content_tag :a, :href => "#modal-blogs#{counter}",  :data => {:toggle => "tab"} do -%>
                          Event Blogs
                        <%end%>

                      </li>

                    </ul>

                    <div class="tab-content">

                      <%= content_tag :div, :class => "tab-pane active", :id => "modal-description#{counter}" do -%>
                        <%= e.description %>  
                      <%end%>


                      <%= content_tag :div, :class => "tab-pane", :id => "modal-tweets#{counter}" do -%>
                        <%  if e.tweets.any? %>
                          <% e.tweets.each do |t| %>
                            <p>
                              <%= t.content %>
                            </p>
                          <% end %>
                        <% else %>
                          <p>no tweets</p>
                        <% end %>
                      <%end%>


                      <%= content_tag :div, :class => "tab-pane", :id => "modal-pictures#{counter}" do -%>
                        <%  if e.pictures.any? %>
                          <% e.pictures.each do |p| %>

                            <% pictures = URI.extract(p.url) %>
                            <%= content_tag :div,  :class => "span2"  do -%>


                              <%= content_tag :a, :href => "#{pictures[0]}", :class => "thumbnail"  do -%>
                                <%= content_tag :img, :src => "#{pictures[1]}"  do -%>

                                <%end%>
                              <%end%>
                            <%end%>
                          <%end%>
                        <% else %>
                          <p>No pictures yet</p>
                        <% end %>

                      <%end%> 




                      <%= content_tag :div, :class => "tab-pane", :id => "modal-videos#{counter}" do -%>
                        vids
                      <%end%>
                         <%= content_tag :div, :class => "tab-pane", :id => "modal-blogs#{counter}" do -%>
                        blogs
                      <%end%>



                    </div>




                  <% end %>

                <% else %>
                  <p>This event has no details yet.</p>
                <% end %>






              <% end -%>
            <% end -%>    
            <%= content_tag :div, :class => "modal-footer" do -%>
              <%= content_tag :a, :class => "btn", :href => '#', :data => {:dismiss => "modal"} do -%>
                close
              <% end -%>
            <% end -%>    

          <% end -%>

        </td>
      </tr>
      <%counter +=1%>
    <% end %>



  </tbody>
</table>

<%= will_paginate @characters%>












