
<%- model_class = Character.new.class -%>


<%= gmaps(
  "map_options" => {"auto_adjust" => "true", "bounds" => '[{"lat": 0, "lng": 0 }, {"lat": 80 , "lng": 100 }]'},
  "markers" => {"data" => @json,
    "options" => {"do_clustering" => true}},
  "polylines" => {"data" => @p}
) %>  

<script type="text/javascript">
  $('#myModal').modal({
    keyboard: false
  })
 
</script>
<br/>  
<script type="text/javascript">
  (function() {
    $("[rel=popover]").popover();
  })();
</script>
<ul class="thumbnails" >
  <li class="span4">
    <a href='/calendar' class="thumbnail" rel="popover"  data-content="It's so simple to create a tooltop for my website!<b>asdf</b>" data-original-title="Twitter Bootstrap Popover">
      <img src="assets/calendar.png" alt="calendar"/>
    </a>
  </li>
</ul>

<br/>


<a data-content="And here's some amazing content. It's very engaging. right?" rel="popover" class="btn danger" href="#" data-original-title="A title">hover for popover</a>

<script type='text/javascript'>
  $(document).ready(function () {
    if ($("[rel=tooltip]").length) {
      $("[rel=tooltip]").tooltip({
        title: 'asdf'
      });
    }
  });
</script>



<a href="#asdf" rel="tooltip" title="asdf1">asdf</a>



<table class="table table-striped">
  <thead>
    <tr>
      <td colspan="4">
        <%= form_tag characters_path, :method => 'get', :class => 'navbar-search' do %>   
          <%= text_field_tag :search, params[:search], :class => 'search-query', :placeholder => 'Search Places' %>
        <% end %></td>

    </tr>
    <tr>

      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th>Author</th>
      <th></th>


    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>

        <td ><%= character.name %></td>
        <td><%= character.address %></td>

        <td><%= User.find(character.user_id).name %></td>

        <td>
          <%= link_to t('.show details', :default => t("helpers.links.show")),
            character_path(character), :class => 'btn btn-mini btn-info'
        %>
          <a  data-toggle="modal" href="#myModal" >  &nbsp;&nbsp;See more</a>
          <%= content_tag :div, :class => "modal hide", :id => "myModal" do -%>


            <%= content_tag :div, :class => "modal-header" do -%>
              <%= content_tag :button, :class => "close", :type => "button", :data => {:dismiss => 'modal'} do -%>
                ×
              <% end  %>
              <%= content_tag :h3 do -%>
                <%= character.name %> Placed at: <%= character.address %>
              <% end -%>
            <% end -%>

            <%= content_tag :div, :class => "modal-body" do -%>
              <%= content_tag :p do -%>





                <% if character.event_details.any? %>
                  <ul>
                    <% for e in character.event_details %>
                      <li><%= e.title %> (<%= e.description %>)</li>
                    <% end %>
                  </ul>
                <% else %>
                  <p>This person has no phones yet.</p>
                <% end %>






              <% end -%>
            <% end -%>    
            <%= content_tag :div, :class => "modal-footer" do -%>
              <%= content_tag :a, :class => "btn", :href => '#', :data => {:dismiss => 'modal'} do -%>
                close
              <% end -%>
            <% end -%>    

          <% end -%>

        </td>
      </tr>

    <% end %>



  </tbody>
</table>

<%= will_paginate @characters%>












