
<%- model_class = Character.new.class -%>

    <%= gmaps(
            "map_options" => {"container_id" => "connections_map_container", "auto_adjust" => "true", "bounds" => '[{"lat": 0, "lng": 0 }, {"lat": 80 , "lng": 100 }]'},
            "markers" => {"data" => @json,
                          "options" => {"do_clustering" => true}},
            "polylines" => {"data" => @p}
    ) %>  
  



<%= form_tag characters_path, :method => 'get', :class => 'navbar-search pull-left' do %>
 
   
    <%= text_field_tag :search, params[:search], :class => 'search-query', :placeholder => 'Search' %>
 
<% end %>
<div class="row">
  
  <div class="span9">
    <table class="table table-striped">
  <thead>
    <tr>
    
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th>Author</th>
      
      
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
   
        <td><%= character.name %></td>
        <td><%= character.address %></td>
       
        <td><%= User.find(character.user_id).name %></td>
       
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
          character_path(character), :class => 'btn btn-mini btn-info'
          %>
          
        </td>
      </tr>
      
    <% end %>
      
        
      
  </tbody>
</table>
  </div>
</div>

    
    <%= will_paginate @characters%>

<%= link_to t('.new', :default => t("helpers.links.create_new")),
            new_character_path,
            :class => 'btn btn-large btn-success'  %>
    
    
    <% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
    