
<%- model_class = Character.new.class -%>


<%= gmaps(
  "map_options" => {"auto_adjust" => "true", "bounds" => '[{"lat": 0, "lng": 0 }, {"lat": 80 , "lng": 100 }]'},
  "markers" => {"data" => @json,
  "options" => {"do_clustering" => true}},
  "polylines" => {"data" => @p}
) %>  

<br/>

<br/>
<script type="text/javascript">
  $().modal({
    keyboard: false
  })
 
</script>
<br/>  
<script type="text/javascript">
  (function() {
    $("[rel=popover]").popover();
  })();
</script>
<ul class="nav nav-tabs">
  <li><a href="#calendar" data-toggle="tab">Calendar</a></li>
  <li><a href="#tweets" data-toggle="tab">Latest Tweets</a></li>
  <li><a href="#pictures" data-toggle="tab">Latest Pictures</a></li>
  <li><a href="#videos" data-toggle="tab">Latest Videos</a></li>
  <li><a href="#blogs" data-toggle="tab">Latest Blogs</a></li>

</ul>

<div class="tab-content">
  <div class="tab-pane active" id="calendar">
    <div class="row">
      <div class="span4">
        <a href='/calendar' class="thumbnail" rel="popover"  data-content="Click to see all conferences and events in calendar view. If you interested in some of them you van" data-original-title="Calendar of events">
          <img src="assets/calendar.png" alt="calendar"/>
        </a>
      </div>

    </div>

  </div>
  <div class="tab-pane" id="tweets">
    <table class="table table-striped">

      <%  tweets = Tweet.find(:all, :limit => 5, :order => 'created_at desc') %>

      <% tweets.each do |t| %>

        <tr><td>
            <blockquote>
              <%= t.content %>
              <div class="from">&mdash; @<%= t.screen_name %></div>
            </blockquote>
          </td></tr>
      <% end %>
    </table>
  </div>
  <div class="tab-pane" id="pictures">
    some pictures
  </div>

  <div class="tab-pane" id="videos">
    some videos
  </div>

  <div class="tab-pane" id="blogs">
    some blogs
  </div>
</div>

<br/>

<br/>



<script type='text/javascript'>
  $(document).ready(function () {
    if ($("[rel=tooltip]").length) {
      $("[rel=tooltip]").tooltip({
        title: 'asdf'
      });
    }
  });
</script>







<table class="table table-striped">
  <thead>
    <tr>
      <td colspan="4">
        <%= form_tag characters_path, :method => 'get', :class => 'navbar-search' do %>   
          <%= text_field_tag :search, params[:search], :class => 'search-query', :placeholder => 'Search Places' %>
        <% end %></td>

    </tr>
    <tr>

      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th>Author</th>
      <th></th>


    </tr>
  </thead>
  <tbody>
<% counter = 0%>    
<% @characters.each do |character| %>
    
      
      <tr>

        <td ><%= character.name %></td>
        <td><%= character.address %></td>

        <td><%= User.find(character.user_id).name %></td>

        <td>
          <%= link_to t('.show details', :default => t("helpers.links.show")),
            character_path(character), :class => 'btn btn-mini btn-info'%>


          <%= content_tag :a, :href => "#myModal#{counter}",  :data => {:toggle => "modal"} do -%>
            See more
          <%end%>
            
          <%= content_tag :div, :class => "modal hide", :id => "myModal#{counter}" do -%>
            <%= content_tag :div, :class => "modal-header" do -%>
              <%= content_tag :button, :class => "close", :type => "button", :data => {:dismiss => "modal"} do -%>
                ×
              <% end  %>
              <%= content_tag :h3 do -%>
                <%= @characters[counter].name %> Placed at: <%= @characters[counter].address %>
              <% end -%>
            <% end -%>

            <%= content_tag :div, :class => "modal-body" do -%>
              <%= content_tag :p do -%>





                <% if @characters[counter].event_details.any? %>
                  <ul>
                    <% for e in @characters[counter].event_details %>
                      <li><%= e.title %> (<%= e.description %>)</li>
                    <% end %>
                  </ul>
                <% else %>
                  <p>This person has no phones yet.</p>
                <% end %>






              <% end -%>
            <% end -%>    
            <%= content_tag :div, :class => "modal-footer" do -%>
              <%= content_tag :a, :class => "btn", :href => '#', :data => {:dismiss => "modal"} do -%>
                close
              <% end -%>
            <% end -%>    

          <% end -%>

        </td>
      </tr>
<%counter +=1%>
    <% end %>



  </tbody>
</table>

<%= will_paginate @characters%>












