
<%- model_class = Character.new.class -%>
<!--<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>!-->
    <%= gmaps(
            "map_options" => {"container_id" => "connections_map_container", "auto_adjust" => "true", "bounds" => '[{"lat": 0, "lng": 0 }, {"lat": 80 , "lng": 100 }]'},
            "markers" => {"data" => @json,
                          "options" => {"do_clustering" => true}},
            "polylines" => {"data" => @p}
    ) %>
<table class="table table-striped">
  <thead>
    <tr>
    
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th>Author</th>
      
      
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
   
        <td><%= character.name %></td>
        <td><%= character.address %></td>
       
        <td><%= User.find(character.user_id).name %></td>
       
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
          character_path(character), :class => 'btn btn-mini btn-info'
          %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_character_path(character), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      character_path(character),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.create_new")),
            new_character_path,
            :class => 'btn btn-large btn-success'  %>
